#main{
  margin: 100px;
}

body{
  border-radius: 25%;
  background-color: #C0C0C0
 
}

#title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: Helvetica, sans-serif;
}
#robots-sub{
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

#img-div{
  background-color: white;
  margin: auto;
  width: 100%;
}

#image{
  margin: 0 auto;
  display: block;
  justify-content: center;
  width: 900px;
  max-width: 1200px;
}

#img-caption{
  text-align: center;
  padding: 15px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

h3{
  text-align: center;
  margin-top: 60px;
  font-family: Helvetica, sans-serif;
}

#tribute-info{
  display: grid;
  grid-row-gap: 20px;
  margin: 30px 150px;
  font-family: Helvetica, sans-serif;
  
}

footer{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

}
#tribute-link{
  font-family: Helvetica, sans-serif;
  
}
#tribute-link:hover{
  color: red;
}